

trigger:
- master
- develop
- ft*

variables:
  ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    appName: "pr$(System.PullRequest.PullRequestNumber)"
  ${{ if not(eq(variables['Build.Reason'], 'PullRequest')) }}:
    appName: "$(Build.SourceBranchName)"
  azureSubscription: question-queue-pipeline
  functionappName: queuefunction$(appName)

pool:
  vmImage: 'windows-2019'

steps:
- task: AzureCLI@2
  displayName: 'Create AppService'
  inputs:
    azureSubscription: question-queue-pipeline
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
       $serviceNameExists = az storage account check-name --name queuefunction$(appName) --subscription 5594cd6c-b674-4323-8517-5e859a399468 | ConvertFrom-Json
        Write-Host "Does the service name exist for queuefunction$(appName): $serviceNameExists"
        If ($serviceNameExists.nameAvailable) {
            az storage account create --name queuefunction$(appName) --kind StorageV2 --location uksouth --resource-group math-dojo-hzprod-question-queue-function --subscription 5594cd6c-b674-4323-8517-5e859a399468
            az appservice plan create -g math-dojo-hzprod-question-queue-function -n queuefunction$(appName)plan
            az functionapp create -g math-dojo-hzprod-question-queue-function  -p queuefunction$(appName)plan -n queuefunction$(appName) -s queuefunction$(appName) --functions-version 3
        }

- script: |
    npm install
    npm install jest
    npm install dotenv
    npm run build --if-present
    
- task: ArchiveFiles@2
  displayName: "Archive files"
  inputs:
    rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
    includeRootFolder: false
    archiveFile: "$(System.DefaultWorkingDirectory)/$(Build.BuildId).zip"
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/$(Build.BuildId).zip'
    name: 'drop'
- task: AzureRmWebAppDeployment@4
  inputs:
    connectionType: 'AzureRM'
    azureSubscription: "$(azureSubscription)"
    appType: 'functionApp'
    webAppName: "$(functionappName)"
