# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
- develop
- ft*

pool:
  vmImage: 'windows-2019'

variables:
  ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    appName: "pr$(System.PullRequest.PullRequestNumber)"
  ${{ if not(eq(variables['Build.Reason'], 'PullRequest')) }}:
    appName: "$(Build.SourceBranchName)"

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Dependencies'
  
- script: |
    npm install
    npm install jest
    npm install dotenv
    npm install @azure/storage-queue
  displayName: 'Install dependencies'

- script: |  
    npm test
  displayName: 'run unit tests'
- task: AzureCLI@2
  displayName: 'Create AppService'
  inputs:
    azureSubscription: question-queue-pipeline
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
       $serviceNameExists = az storage account check-name --name queueFunction$(appName) --subscription 5594cd6c-b674-4323-8517-5e859a399468 | ConvertFrom-Json
        Write-Host "Does the service name exist for queueFunction$(appName): $accountNameExists"
        If ($accountNameExists.nameAvailable) {
          try {
            az appservice ase create --name queueFunction$(appName)  --location uksouth --resource-group math-dojo-hzprod-question-queue-function --subscription 5594cd6c-b674-4323-8517-5e859a399468
          }
          catch {
            Write-Host "An error occurred:"
            Write-Host $_
          }
        }

- task: AzureFunctionApp@1
  inputs:
      azureSubscription: question-queue-pipeline
      appType: functionApp
      appName: queueFunction$(appName)
      package: $(System.ArtifactsDirectory)/**/*.zip
      resourceGroupName: math-dojo-hzprod-question-queue-function
  displayName: 'deploy functions'    
